<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="pl.michal.tim_client">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/AppName"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".login.LoginActivity" android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".signup.SignupActivity" android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".customer.MenuCustomerActivity" android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".customer.trainings.TrainingsActivity"/>
        <activity android:name=".customer.newTraining.NewTrainingActivity" android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".customer.profile.ProfileActivity" android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".customer.findCoach.FindCoachActivity" android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".customer.trainings.proposeNewDate.ProposeNewDateActivity"
                  android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".coach.MenuCoachActivity" android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".coach.profile.ProfileActivity" android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".coach.trainings.CoachTrainingActivity" android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".coach.calendar.CalendarActivity"/>
        <activity android:name=".coach.picture.PictureActivity" android:theme="@style/AppTheme.Dark"/>
    </application>

</manifest>
