<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.michal.tim_client">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity" android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SignupActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".coach.MenuCoachActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".customer.MenuCustomerActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".customer.CustomerCurrentTrainingsActivity" android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".customer.CustomerNewTrainingsActive" android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".customer.CustomerProfileActive" android:theme="@style/AppTheme.Dark"/>
    </application>

</manifest>
